@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900 ;1.100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --branco-fantasma: #fafaffff;
    --Azul-bizantino: #1d4cd7ff;
    --Azul-lapiseira: #0b1d51ff;
    --azul: #3f51b5;
    --violeta: #9c27b0;
    --Verde-primavera: #2bf371ff;
    --Cinza: #7A7A7A;
    --fonte-padrão: "Lora", serif, Arial, Helvetica;
    --fonte-destaque: "Lora", serif;
}

body {
    background-color: var(--Azul-lapiseira);
}

header {
    background-image: linear-gradient(to left, var(--azul), var(--violeta));
    padding: 10px 0px 10px 30px;
}

nav {
    padding-bottom: 10px;
    padding-left: 25px;
    background-image: linear-gradient(to left, var(--azul), var(--violeta));
    text-align: center;
}

nav > a {
    margin: 5px;
    text-decoration: none;
    color: var(--branco-fantasma);
    font-weight: bolder;
    font-family: var(--fonte-destaque);
    font-size: 0.9em;
}

nav a:hover {
    color: var(--Verde-primavera);
}

main {
    background-color: var(--Azul-lapiseira);
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    padding: 10px;
    color: var(--branco-fantasma);
}

main h1 {
    padding-top: 40px;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-style: italic;
}

main p {
    padding: 20px;
    text-align: center;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--fonte-padrão);
    font-weight: 500;
    font-style: normal;
}

.ancora {
    text-decoration: none;
    color: var(--Verde-primavera);
    font-weight: bold;
}

main img {
    width: 300px;
}

#imagem {
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--azul);
    padding: 5px;
    color: var(--branco-fantasma);
    
}

footer p {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}